.flex{
  display: flex;
}
.grid{
  display: grid;
}
.black-bg{
  background-color: $black;
}
.black-red{
  background-color: $red;
}
.black-white{
  background-color: $white;
}

.white-bg{
  background-color: $white;
}
.red-bg{
  background-color: $red;
}

.black-text{
  color: $black;
}

.hr-dark{
  width: calc(100% - 50px);
  height: 1px;
  margin: 30px 25px;
  background-color: $white;
  box-shadow: 0px 0px 5px 1px $white;
}

.white-text{
  color: $white;
}

.red-text{
  color: $red;
}

.white-border{
  border: 2px $white solid;
}

.red-border{
  border: 2px $white solid;
}

.black-border{
  border: 2px $white solid;
}
.centered-text{
  text-align: center;
}

.capitalized{
  text-transform: uppercase;
}

.borderless{
  border: none;
}
