<table class="white-text">
  <thead></thead>
  <thead class="black-bg">
    <th>Booking ID</th>
    <th>Booking Date</th>
    <th>Movie</th>
    <th>Coupons</th>
    <th>Status</th>
  </thead>


  <tbody>

    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="complete">Complete</td>
    </tr>
  
    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="pending">Complete</td>
    </tr>
    
    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="expired">Complete</td>
    </tr>

    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="complete">Complete</td>
    </tr>

    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="complete">Complete</td>
    </tr>
  
    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="pending">Complete</td>
    </tr>
    
    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="expired">Complete</td>
    </tr>

    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="complete">Complete</td>
    </tr>

    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="complete">Complete</td>
    </tr>
  
    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="pending">Complete</td>
    </tr>
    
    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="expired">Complete</td>
    </tr>

    <tr>
      <td data-booking-id="">23132</td>
      <td data-booking-data="">10/12/22</td>
      <td data-movie-titile="">Encato</td>
      <td data-coupon="">  </td>
      <td data-status="complete">Complete</td>
    </tr>


  </tbody>
</table>

<!-- Status -->
<!-- 
  Complete - Green
  Pending - Yellow 
  Expired - Red
 -->