<div class="coupon-category capitalized white-text">
  <div class="category-name">FOOD</div>
  <div class="coupon">
    <div class="code  white-text">shawarma201220</div>
    <button class="cta white-bg borderless red-text">Use</button>
  </div>
  <!-- End of coupon -->

  <div class="coupon">
    <div class="code  white-text">shawarma201220</div>
    <button class="cta white-bg borderless red-text">Use</button>
  </div>
  <!-- End of coupon -->

  <div class="coupon">
    <div class="code  white-text">shawarma201220</div>
    <button class="cta white-bg borderless red-text">Use</button>
  </div>
  <!-- End of coupon -->

  <div class="coupon">
    <div class="code  white-text">shawarma201220</div>
    <button class="cta white-bg borderless red-text">Use</button>
  </div>
  <!-- End of coupon -->

  <div class="coupon">
    <div class="code  white-text">shawarma201220</div>
    <button class="cta white-bg borderless red-text">Use</button>
  </div>
  <!-- End of coupon -->

  <div class="coupon">
    <div class="code  white-text">shawarma201220</div>
    <button class="cta white-bg borderless red-text">Use</button>
  </div>
  <!-- End of coupon -->

  <div class="coupon">
    <div class="code  white-text">shawarma201220</div>
    <button class="cta white-bg borderless red-text">Use</button>
  </div>
  <!-- End of coupon -->
</div>
<!-- End of Category -->


<div class="coupon-category capitalized white-text">
  <div class="category-name">MOVIE</div>
  <div class="coupon">
    <div class="code  white-text">MARVEL</div>
    <button class="cta white-bg borderless red-text">Use</button>
  </div>
  <!-- End of coupon -->

  <div class="coupon">
    <div class="code  white-text">TOM Cruise</div>
    <button class="cta white-bg borderless red-text">Use</button>
  </div>
  <!-- End of coupon -->

</div>