<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>


<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>


<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>


<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>


<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>


<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>


<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>

<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>


<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>


<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>


<div class="action white-text flex" data-action="delete">
  <div class="date" data-date="">10/12/21</div>
  <div class="action-name" data-action="">Cancelled Reseravation</div>
  <button class="black-bg borderless">    
    <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#fcfefd" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/>
    </svg>
  </button>
</div>